<html>
    <div>
	<form role="form" action="" method="post">
	    {% csrf_token %}
		<p><label for="id_title">title(length:30):</label> <input id="id_title" type="text" name="title" maxlength="30" size="40" required /></p>
		<p><label for="id_body">body(length:50):</label> <input type="text" name="body" id="id_body" maxlength="50" size="60" required /></p>
		<p><label for="id_time">time:</label> <input type="datetime-local" name="time" id="id_time" required /></p>
	    <button type="submit">Submit</button>
	</form>
   </div>
</html>