<html>
    <div>
    시간 설정 없이 메세지 보내기
	<form role="form" action="" name="withtime"method="post">
	    {% csrf_token %}
	    <p>자기 기기의 토큰아이디(어플에 떠 있는 토큰아이디 입력):<input size="100" name="tokenid" required /> </p>
		<p><label for="id_title">title(length:30):</label> <input id="id_title" type="text" name="title" maxlength="30" size="40" required /></p>
		<p><label for="id_body">body(length:50):</label> <input type="text" name="body" id="id_body" maxlength="50" size="60" required /></p>
	    <button type="submit" name="withouttime">Submit</button>
	</form>
   </div>

    <div>
    시간을 설정하고 메세지 보내기(현재보다 과거로 설정할 경우 바로 메세지가 보내짐)
	<form role="form" action="" name="withtime"method="post">
	    {% csrf_token %}
	    <p>자기 기기의 토큰아이디(어플에 떠 있는 토큰아이디 입력):<input size="100" name="tokenid" required /> </p>
		<p><label for="id_title">title(length:30):</label> <input id="id_title" type="text" name="title" maxlength="30" size="40" required /></p>
		<p><label for="id_body">body(length:50):</label> <input type="text" name="body" id="id_body" maxlength="50" size="60" required /></p>
		<p><label for="id_time">time:</label> <input type="datetime-local" name="time" id="id_time" required /></p>
	    <button type="submit" name="withtime">Submit</button>
	</form>
   </div>

   <div>
   	토픽마다 보내기(sendserver.py 부분에서 다름)
	<form role="form" action="" name="topic" method="post">
	    {% csrf_token %}
		<p><label for="id_title">title(length:30):</label> <input id="id_title" type="text" name="title" maxlength="30" size="40" required /></p>
		<p><label for="id_body">body(length:50):</label> <input type="text" name="body" id="id_body" maxlength="50" size="60" required /></p>
		<p>	  토픽설정(현재 choolcheck) :<input type="text" name="checkdata" size="60" required /></p>
		<p> 토픽설정란을 select form형태로 바꿀것 / views.py에서 select형태의 데이터를 가지고 올 방법이 필요</p>
		<input type="hidden" name="time" value="checktopic">
	    <button type="submit" name="topic">Submit</button>
	</form>
   </div>
</html>